@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
	font-family: "Montserrat", sans-serif;
}

nav i.fa {
	font-size: 2.5em;
	display: block;
}

.breadcrumb {
	font-size: 1.3em;
	line-height: 2.5em;
}
.analysis-table {
	color: white;
}
nav h1 {
	font-size: 2.5em;
}
.file-uploader {
	position: relative;
	z-index: 20;
}

table {
	font-size: 1.2em;
}
.nav-bar {
	color: white;
}
body {
	background: #141b38;
	color: white;
}
.uploader-wrapper {
	padding: 10px;
	border: #ffc2c0 solid 2px;
	border-radius: 5px;
}
button {
	border: solid 2px #141b38;
}

a {
	text-decoration: none;
	color: #ffc2c0;
}

a:hover {
	text-decoration: underline;
	color: #ffc2c0;
}
.normalization,
.visualization {
	display: flex;
}

div.container.p-5 nav.navbar a h1.mx-auto {
	color: white;
}

div.container.p-5 nav.navbar a:hover {
	text-decoration: none;
	color: white;
}

div.container.w-50.file-uploader div.container.mt-3.p-3 div.form {
	font-size: 1.2em;
}
